@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/Erode-Variable.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "MyFont", sans-serif;
}

body{
  background-color: #fff;
}

#button{
  background-color: #FF6A00;
  border-radius: 12px;
  width: auto;
}